<li class="timeline-item row-container">
  <div class="timeline-arrow"></div>
  <div class="container bg-secondary rounded ml-3 p-md-4 p-2 shadow">
    
    <div class="row">
      <div class="col-md-7 col-12">
        <div class="p-2">
          <h2 class="h5 mb-0">{{.Title}}</h2>
          <span class="small text-gray pb-4"><i class="fa fa-clock-o mr-1"></i>{{.Date}}</span>
        </div>
        {{range .Body}}
        <p>{{.}}</p>
        {{end}}
      </div>

      <div id="PhotoCarousel{{.ID}}" class="carousel slide col-md-5 col-12" data-ride="carousel" data-interval="false" data-keyboard="false">
        <ol class="carousel-indicators">
          {{range .Media}}
          <li data-target="#PhotoCarousel{{.ID}}" data-slide-to="{{.Index}}" {{ if eq .Index 0 }} class="active"{{end}}></li>
          {{end}}
        </ol>
        {{range .Media}}
          {{.ToHTML}}
        {{end}}
        <a class="carousel-control-prev" href="#PhotoCarousel{{.ID}}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#PhotoCarousel{{.ID}}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</li>